.btn-close-white {
    filter: invert(1);
}

.input-readonly {
    cursor: not-allowed;              /* Cambia el cursor para indicar que está deshabilitado */
    background-color: #e9ecef !important;
}